*
    margin: 0
    padding: 0
header, main, footer
    border: 1px solid red
nav
    ul
        display: grid
        grid-template-columns: 2fr repeat(7, 1fr) 2fr
        justify-content: center
        align-items: center
        list-style-type: none
        transition: all 1s
        li
            text-align: center
            transition: all 1s
            a
                text-decoration: none
        li:nth-child(1)
            grid-column: 2/2
        @media screen and (max-width: 884px)
            grid-template-columns: repeat(7, 1fr)
            li:nth-child(1)
                grid-column: 1/1
        @media screen and (max-width: 562px)
            grid-template-columns: 1fr 2fr
            grid-template-rows: repeat(6, 1fr)
            align-items: start
            li:nth-child(1)
                grid-column: 2/2
            li:nth-child(4)
                text-align: left
                grid-column: 1/1
                grid-row: 1/7